.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    margin-left: 10px;
  }
}

table {
  width: 100%;
  overflow-x: auto;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-spinner {
  width: 40px;
  height: 40px;
}
